<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "lib/custom.css" %}">
<link rel="stylesheet" href="{% static "lib/jquery-ui.css" %}">
<script src="{% static "lib/jquery-1.10.2.js" %}"></script>
<script src="{% static "lib/jquery-ui.js" %}"></script>
<script src="{% static "lib/custom.js" %}"></script>
<script src="{% static "lib/customdoc.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
            switch_tab({{step}});
        });
</script>
</head>

<body>
<span><h2>&nbsp;Sign up for Citrus</h2>
</span>
<hr>

<span style="color:#A8A8A8;position:absolute;left:15px;top:79px">Help us get you in quickly</span>

<div  id="tabs" style="position:absolute;left:6%;top:25%;background:#FFFFFF">
<ul id="tab-list-custom">

	<li class="row">
	<a href="#tabs-0" id="tab-0" style="width:265px">
	<span class="headings-custom" id="headings-custom-tab0">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i> 
	<i class="fa fa-copy fa-stack-1x " id="ver0"></i>
	</span>
	Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
	<p>
	<span class="subtext-custom">
	This is the dashboard &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</br>
	and this is a msg.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>
	</p>
	</span>
	
	</a>
	</li>
	

	<li class="row"><a href="#tabs-1" id="tab-1"><span id="headings-custom-tab1" class="headings-custom">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x"></i>
	<i class="fa fa-bolt fa-stack-1x " id="ver1"></i>
	</span>
	Your Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
	<p>
	<span class="subtext-custom">Basic information about you </br>and your company</span>
	</p>
	</span>
	</a>
	</li>
	
	<li class="row"><a href="#tabs-2" id="tab-2">
	<span class="headings-custom" id="headings-custom-tab2">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x"></i>
	<i class="fa fa-usd fa-stack-1x " id="ver2"></i>
	</span>
	Payment Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
	<p>
	<span class="subtext-custom">One-time setup fee for</br> your account</span>
	</p>
	</span>
	</a>
	</li>
	
	
	
	<li class="row">
	<a href="#tabs-3" id="tab-3">
	<span class="headings-custom" id="headings-custom-tab3">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i>
	<i class="fa fa-bars fa-stack-1x " id="ver3"></i>
	</span>
	Implementation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
	<p>
	<span class="subtext-custom">
	Learn how to integrate Citrus </br>on your website/app
	</span>
	</p>
	</span>
	
	</a>
	</li>

	<li class="row">
	<a href="#tabs-4" id="tab-4" style="width:265px">
	<span class="headings-custom" id="headings-custom-tab4">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i> 
	<i class="fa fa-copy fa-stack-1x " id="ver3"></i>
	</span>
	Upload Docs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
	<p>
	<span class="subtext-custom">
	Upload documents and look &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</br>
	at your application status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>
	</p>
	</span>
	
	</a>
	</li>
	
	
</ul>

<div id="tabs-0" style="text-align:center;">
{{dashboardbody|safe}}
</div>


<div id="tabs-1">
<div id="content-tab1" style="text-align:center">
	<form id="step1-onboarding" action="">
	<table style="padding:2em;left: 26%;position: relative;">
	<tr>
	<td style="text-align:right"><strong>Company Name</strong></td>
	<td style="text-align:left"><input id="company-name" name="company-name" type="text" placeholder="uncommon"></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Company Website</strong></td>
	<td style="text-align:left"><input id="company-website" name="company-website" type="text" placeholder="http://www.uncommon.is"></input>
	</td>
	</tr>

	<tr>
	<td style="text-align:right"><strong>Company Category</strong></td>
	<td style="text-align:left">
	<select id="company-category" name="company-category">
    {% for category in categories %}
	<option value="{{category}}">{{category}}</option>
    {% endfor %}
	</select></td>
	</tr>

	<tr>
	<td style="text-align:right"><strong>Type of Business</strong></td>
	<td style="text-align:left">
	<select id="company-business-category" name="company-business-category">
    {% for type in businesstypes %}
	<option value="{{type}}">{{type}}</option>
    {% endfor %}
	</select></td>
	</tr>

	</table>
	<hr>
	<table style="padding:2em;left: 25%;position: relative;">
	<tr>
	<td style="text-align:right;valign:center;"><strong>Value Added Services</strong>
	</br>
	<span style="color:#C0C0C0">Please tick all that apply</span>
	</td>
	<td style="text-align:left">
	<div class="checkbox">
    {% for service in services %}
	<label>
    {% ifequal service.included_in_default True %}
    	<input name="services" type="checkbox" value="{{service.name}}" checked="checked" disabled="disabled">
    {% else %}
    	<input name="services" type="checkbox" value="{{service.name}}">
    {% endifequal%} 
    {{service.name}}
	<span style="color:#00CC33">(+Rs. {{service.charges}})</span>
	</label>
    {% endfor %}
	</div>
	</td>
	</tr>
	</table>
	<hr>
	<table style="padding:2em;left: 29%;position: relative;">
	<tr>
	<td style="text-align:right"><strong>Your Name</strong></td>
	<td style="text-align:left"><input id="your-name" name="your-name" type="text" placeholder="Name..."></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Email Address</strong></td>
	<td style="text-align:left"><input name="email" id="email" type="text" placeholder="example@xyz.com"></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Phone Number</strong></td>
	<td style="text-align:left"><input name="phone" id="phone" type="text" placeholder="XXXXX XXXXX"></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Password</strong></td>
	<td style="text-align:left"><input name="password" id="password"  type="password" placeholder="*******"></input></td>
	</tr>
	</table>
	<input type="checkbox" onclick="var p = document.getElementById('button-content1'); p.disabled = !(p.disabled) " ></input>
	<span style="padding:10px;padding-top:15px;">I have read and agree to the <a href="http://signup.citruspay.com/attachment/CitrusTermsAndConditions.pdf" target="_blank" style="color:#0000FF">terms and conditions</a></span>
	</form>
	</br>
    <button id="button-content1"  class="btn btn-large" disabled onclick="newpost()">Continue</button>
  </div>
</div>
  
  
  <div id="tabs-2">
  <div style="text-align:center">
  <h3><span style="color:#808080">Annual Maintainence </span> <span style="color:#FF9900">Rs. {{amt}}</span></h3>
  <span style="color:#B8B8B8;text-align:center">
  Includes </br>
  24X7 Phone and Email Support</br>
  International Payments </br>
  Variable Items #3
  </span>
  </br>
  </br>
  <hr>
  </br>
<form action = "https://sandbox.citruspay.com/mufvo8mgto" method= "post" id="payform"> 
<input type="hidden" name="merchantId"></input>
<input type="hidden" name="orderAmount"></input>
<input type="hidden" name="merchantTxnId"></input>
<input type="hidden" name="currency"></input>
<input type="hidden" name="returnUrl" value="http://localhost:8000/new/citrusresponse/"></input>
<input type="hidden" name="customParams[0].name" value="Company Name"></input>
<input type="hidden" name="customParams[0].value" value=""></input>
<input type="hidden" name="customParams[1].name" value="Merchant Email"></input>
<input type="hidden" name="customParams[1].value" value=""></input>
<input type="hidden" name="secSignature"></input>
</form>
  <div id="payment-tabs" style="background:#FFFFFF;border: none;position:relative;left: 17%;">
  <ul id="tab-list-custom">
  
  <li style="padding:1.1em"> <a href="#net-banking">
  <span class="headings-custom2">
  <i class="fa fa-square fa-2x" style="padding:0.2em;position: relative;top: 4px;color:rgb(200,200,200);"></i>
  Net Banking&nbsp;</span></a></li>
  
  <li style="padding:0.24em">
  <a href="#cards">
  <span class="headings-custom2">
  <i class="fa fa-square fa-2x" style="position: relative;padding:0.2em;top: 13px;color:rgb(200,200,200);"></i>
  Credit/Debit</br> Cards</span>
  </a>
  </li>

  <li style="padding:1.1em;">
  <a href="#imps">
  <span class="headings-custom2">
  <i class="fa fa-square fa-2x" style="padding:0.2em;position:relative;top:4px;color:rgb(200,200,200);"></i>
  IMPS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </a>
  </li>
  
  <li style="padding:0.24em;text-align:center">
  <a href="#cod">
  <span class="headings-custom2">
  <i class="fa fa-square fa-2x" style="position: relative;padding:0.2em;top: 13px;color:rgb(200,200,200);"></i>
  Cash On&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br>&nbsp;&nbsp;&nbsp;Delivery&nbsp;</span>
  </a>
  </li>
  
  <li style="padding:1.1em"><a href="#citrus-bank">
  <span class="headings-custom2">
  <i class="fa fa-square fa-2x" style="padding:0.2em;position: relative;top: 4px;color:rgb(200,200,200);"></i>
  Citrus Bank</span>
  </a>
  </li>
  </ul>
  
  
  <div id="net-banking">
  <form id="net-banking" action="" method="POST">
  </br>
  </br>
  <table style="position: relative;left: 15%;">
  <tr>
  <td><strong>Choose you bank</strong></td>
  <td>
	<select id="net-bank">
	<option>Bank1</option>
	<option>Bank2</option>
	<option>Bank3</option>
	<option>Bank4</option>
	<option>Bank5</option>
	<option>Bank6</option>
	<option>Bank7</option>
	<option>Bank8</option>
	<option>Bank9</option>	
	<option>Bank10</option>
	<option>Bank11</option>
	<option>Bank12</option>
	<option>Bank13</option>
	</select>
  </td>
  </tr>
  </table>
  </form>
  <button id="pay" onclick="iniPay()" class="btn btn-warning btn-large" style="left:-180px;position: relative;"><span style="color:white"><strong>Pay {{amt}}</strong></span></button>
  </div>
  
  <div id="cards">
  <form id="card">
  </br>
  </br>
	<div style="position:relative;left:-10%"><span style="padding:0.8em 1em 0.8em 1em;"><strong>Card No.</strong></span>
	<input id="card-no" type="text"></input></div>
	</br>
	<table style="position: relative;left: 24%;">
	<tr>
	<td><strong>Expiry</strong></td>
	<td>
	<select id="expiry-month" style="width:70px">
		<option>Jan</option>
		<option>Feb</option>
		<option>Mar</option>
		<option>Apr</option>
		<option>Jun</option>
		<option>Jul</option>
		<option>Aug</option>
		<option>Sep</option>
		<option>Oct</option>
		<option>Nov</option>
		<option>Dec</option>
	</select>
	&nbsp;&nbsp;
	<select id="expiry-date" style="width:70px">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
		<option>15</option>
		<option>16</option>
		<option>17</option>
		<option>18</option>
		<option>19</option>
		<option>20</option>
		<option>21</option>
		<option>22</option>
		<option>23</option>
		<option>24</option>
		<option>25</option>
		<option>26</option>
		<option>27</option>
		<option>28</option>
		<option>29</option>
		<option>30</option>
		<option>31</option>
		
	</select>
	</td>
	<td><strong>CVV</strong></td>
	<td><input id="CVV" type="password" style="width:70px"></td>
	</tr>
	</table>

  </form>
  <button onclick="switch_tab(1)" class="btn btn-warning btn-large" style="position:relative;left:-60px"><span style="color:white"><strong>Pay 2990</strong></span></button>
  </div>
  
  <div id="imps">
  <form id="imps">
  </br>
	<div style="position:relative;left:-10%"><span style="padding:0.8em 1em 0.8em 1em;"><strong>Mobile No.</strong></span>
	<input id="mobile-no" type="text"></input></div>
	</br>
	<table style="position: relative;left: 24%;">
	<tr>
	<td><strong>MMID</strong></td>
	<td><input type="text" style="width:75px"></td>
	<td><strong>OTP</strong></td>
	<td><input type="text" style="width:75px"></td>
	</tr>
	</table>
  </form>
  <button onclick="switch_tab(1)" class="btn btn-warning btn-large" style="position:relative;left:-60px"><span style="color:white"><strong>Pay 2990</strong></span></button>
  </div>
  
  </div>
  
  <!--  <button onclick="switch_tab(1)" class="btn btn-warning btn-large" style="left: -35px;position: relative;"><span style="color:white"><strong>Pay 2990</strong></span></button>-->
  </div>
  </div>
  
  
  <div id="tabs-3">
  <form id="step3-onboarding" action="">
  <div style="text-align:center;padding:2em;">
  <span style="padding:1.5em"><strong>Choose a platform</strong></span>
  <select id="platform">
	<option>Web In-Context Payments</option>
	<option>2</option>
	<option>3</option>
  </select>
  <hr>
  <div style="text-align:center">
  <strong>Integration Instruction</br></br></strong>
  <textarea rows="20" cols="100" style="background:#F8F8F8;width:45%;cursor:default" disabled></textarea>
  </div>
  <input class="btn btn-large" value="Continue" onclick="switch_tab(2)">
	</input></br></br>
  <span style="color:#E0E0E0">You can skip this step and do it later, simply press continue for now</span>
  </div>
  <input type="hidden" id="secSignature" name="secSignature" value="" />
  </form>    
  </div>

  <div id="tabs-4" style="text-align:center;">
  </br>
  <span style="color:black;font-weight:700">
Upload all required documents to ensure your application is verified and your account is activated permanently
</br>
When upload your documents and submit this application for review, our team will check and verify them within <strong>48 hours</strong>.
</br>
You will receive an email with your application status, the <strong> verification status </strong> will be updated for each document.
</br>
</br>
If you need help, please call our team at <span style="color:#FF9900">1-800-456-7890</span> or email us at <a href="mailto:support@citruspay.com">support@citruspay.com
</a>
</br>
</span>
</span>
</br>
</br></br></br></br></br></br>
<table style="border-bottom:2px solid rgb(240,240,240);left: 16%;position: relative;">
<tr style="border-bottom:2px solid rgb(240,240,240)">
	<td><strong>Document name</strong></td>
	<td><strong>&nbsp;&nbsp;&nbsp;Upload Status&nbsp;&nbsp;&nbsp;</strong></td>
	<td><strong>&nbsp;&nbsp;&nbsp;Verification status&nbsp;&nbsp;&nbsp;</strong></td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Identity proof</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='IdProof'><label name="IdProof" onclick="$('#IdProof').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="IdProof" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Company Registration</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='CompanyReg'><label name="CompanyReg" onclick="$('#CompanyReg').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="CompanyReg" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Photo</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='photo'><label name="photo" onclick="$('#photo').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="photo" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Service Tax Registration</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='ServiceTaxReg'><label name="ServiceTaxReg" onclick="$('#ServiceTaxReg').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="ServiceTaxReg" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Address Proof</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='AddressProof'><label name="AddressProof" onclick="$('#AddressProof').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="AddressProof" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

</table>
</br>
<button  class="btn btn-default btn-large" style="position:relative;">Submit for Verification</button>
</br>
</br>
  </div>
</div>
</body>
</html>
