<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "lib/custom.css" %}">
<link rel="stylesheet" href="{% static "lib/jquery-ui.css" %}">
<script src="{% static "lib/jquery-1.10.2.js" %}"></script>
<script src="{% static "lib/jquery-ui.js" %}"></script>
<script src="{% static "lib/custom.js" %}"></script>
<script src="{% static "lib/customdoc.js" %}"></script>
<script>
	$(document).ready(function(){
		$("#tab-1").tab('show');
	});
</script>
</head>

<body style="background:rgb(240,240,240)">
<span><h2>&nbsp;Sign up for Citrus</h2>
</span>
<hr style="border-color:rgb(220,220,220)">

<span style="color:#A8A8A8;position:absolute;left:15px;top:79px">Help us get you in quickly</span>

<div  id="tabs" style="position:absolute;left:0.4%;top:25%;width:100%;z-index:1;height:100%" class="content">

<ul id="tablistcustom" class="nav nav-tabs" data-tabs="tab">
	<li class="row">
	<a data-toggle="tab" href="#tabs-0" id="tab-0" onclick="location.replace('../0/')">
	<span class="headings-custom" id="headings-custom-tab0">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i> 
	<i class="fa fa-copy fa-stack-1x " id="ver0"></i>
	</span>
	Dashboard
	<span class="subtext-custom">
	<br>
	This is the dashboard 
	<br>
	and this is a msg.
	</span>
	</span>
	
	</a>
	</li>
	

	<li class="row active" >
	<a data-toggle="tab" href="#tabs-1" id="tab-1" onclick="location.replace('../1/')">
	<span id="headings-custom-tab1" class="headings-custom" style="color:#FF9900">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x"></i>
	<i class="fa fa-bolt fa-stack-1x " id="ver1"></i>
	</span>
	Your Details</br>
	<span class="subtext-custom">Basic information about <br>you and your company</span>
	</span>
	</a>
	</li>
	
	<li class="row">
	<a data-toggle="tab" href="#tabs-2" id="tab-2" onclick="location.replace('../2/')">
	<span class="headings-custom" id="headings-custom-tab2" >
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x"></i>
	<i class="fa fa-usd fa-stack-1x " id="ver2"></i>
	</span>
	Payment Details</br>
	<span class="subtext-custom">One-time setup fee for<br> your account</span>
	
	</span>
	</a>
	</li>	
	
	<li class="row" >
	<a data-toggle="tab" href="#tabs-3" id="tab-3" onclick="location.replace('../3/')">
	<span class="headings-custom" id="headings-custom-tab3">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i>
	<i class="fa fa-bars fa-stack-1x " id="ver3"></i>
	</span>
	Implementation
	</br>
	<span class="subtext-custom">
	Learn how to integrate Citrus <br>on your website/app
	</span>
	</span>
	
	</a>
	</li>

	<li class="row" >
	<a data-toggle="tab" href="#tabs-4" id="tab-4" onclick="location.replace('../4/')">
	<span class="headings-custom" id="headings-custom-tab4">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i> 
	<i class="fa fa-copy fa-stack-1x " id="ver3"></i>
	</span>
	Upload Docs
	</br>
	<span class="subtext-custom">
	Upload documents and look 
	<br>
	at your application status
	</span>
	</span>
	
	</a>
	</li>
</ul>

<div class="tab-content" id="content" style="margin-top:0px;padding-top:0px;background:white">
<div id="tabs-1" class="tab-pane">
<div id="content-tab1" style="text-align:center">
	<form id="step1-onboarding" action="">
	<table style="padding:2em;left: 33%;position: relative;">
	<tr>
	<td style="text-align:right"><strong>Company Name</strong></td>
	<td style="text-align:left"><input id="company-name" name="company-name" type="text" placeholder="{{companyname}}" disabled></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Company Website</strong></td>
	<td style="text-align:left"><input id="company-website" name="company-website" type="text" placeholder="{{companyurl}}" disabled></input>
	</td>
	</tr>

	<tr>
	<td style="text-align:right"><strong>Company Category</strong></td>
	<td style="text-align:left">
	<select id="company-category" name="company-category" disabled>
    
	<option value="{{category}}">{{category}}</option>
  
	</select></td>
	</tr>

	<tr>
	<td style="text-align:right"><strong>Type of Business</strong></td>
	<td style="text-align:left">
	<select id="company-business-category" name="company-business-category" disabled>
  
	<option value="{{type}}">{{type}}</option>

	</select></td>
	</tr>

	</table>
	<hr>
	<table style="padding:2em;left: 25%;position: relative;">
	<tr>
	<td style="text-align:right;valign:center;"><strong>Value Added Services</strong>
	</br>
	<span style="color:#C0C0C0">Please tick all that apply</span>
	</td>
	<td style="text-align:left">
	<div class="checkbox">
    {% for service in services %}
	<label>
    	<input name="services" type="checkbox" value="{{service.name}}" checked="checked" disabled>
    {{service.name}}
	<span style="color:#00CC33">(+Rs. {{service.charges}})</span>
	</label>
    {% endfor %}
	</div>
	</td>
	</tr>
	</table>
	<hr>
	<table style="padding:2em;left: 29%;position: relative;">
	<tr>
	<td style="text-align:right"><strong>Your Name</strong></td>
	<td style="text-align:left"><input id="your-name" name="your-name" type="text" placeholder="{{name}}" disabled></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Email Address</strong></td>
	<td style="text-align:left"><input name="email" id="email" type="text" placeholder="{{email}}" disabled></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Phone Number</strong></td>
	<td style="text-align:left"><input name="phone" id="phone" type="text" placeholder="{{phone}}" disabled></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Password</strong></td>
	<td style="text-align:left"><input name="password" id="password"  type="password" placeholder="*******" disabled></input></td>
	</tr>
	</table>
	<input type="checkbox" checked='checked' disabled ></input>
	<span style="padding:10px;padding-top:15px;">I have read and agree to the <a href="http://signup.citruspay.com/attachment/CitrusTermsAndConditions.pdf" target="_blank" style="color:#0000FF">terms and conditions</a></span>
	</form>
	</br>
    <button id="button-content1"  class="btn btn-large" disabled onclick="newpost()">Continue</button>
  </div>
</div>
</div>
</div>
</body>
</html>
