<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="{% static "font-awesome-4.1.0/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "lib/custom.css" %}">
<link rel="stylesheet" href="{% static "lib/jquery-ui.css" %}">
<script src="{% static "lib/jquery-1.10.2.js" %}"></script>
<script src="{% static "lib/jquery-ui.js" %}"></script>
<script src="{% static "lib/custom.js" %}"></script>
<script src="{% static "lib/customdoc.js" %}"></script>
<script src="{% static "lib/bootstrap.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
            switch_tab({{step}});
        });
    function modal_data_load(obj){
	    if(obj.id == 'bankStatus')
	    {
	    	
	 	 	$.get( "../../bankstatus/", function( data ) {
				$( "#myModalLabel" ).html( data['heading'] );
				$( ".modal-body" ).html( data['body'] );
			});
		}
		else if(obj.id == 'docStatus')
		{
			
			$.get( "../../docstatus/", function( data ) {
				$( "#myModalLabel" ).html( data['heading'] );
				$( ".modal-body" ).html( data['body'] );
			});
		}
	}	
</script>
</head>

<body style="background:rgb(240,240,240)">
<span><h2>&nbsp;Sign up for Citrus</h2>
</span>
<hr style="border-color:rgb(220,220,220)">
<span style="color:#A8A8A8;position:absolute;left:15px;top:79px">Help us get you in quickly</span>

<div  id="tabs" style="position:absolute;left:0.4%;top:25%;width:100%;height:100%" class="content">
<ul id="tablistcustom" class="nav nav-tabs" data-tabs="tab">
	<li class="row active">
	<a data-toggle="tab" href="#tabs-0" id="tab-0" onclick="location.replace('../0/')">
	<span class="headings-custom" id="headings-custom-tab0">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i> 
	<i class="fa fa-copy fa-stack-1x " id="ver0"></i>
	</span>
	Dashboard
	<span class="subtext-custom">
	<br>
	This is the dashboard 
	<br>
	and this is a msg.
	</span>
	</span>
	
	</a>
	</li>
	

	<li class="row" >
	<a data-toggle="tab" href="#tabs-1" id="tab-1" onclick="location.replace('../1/')">
	<span id="headings-custom-tab1" class="headings-custom">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x"></i>
	<i class="fa fa-bolt fa-stack-1x " id="ver1"></i>
	</span>
	Your Details</br>
	<span class="subtext-custom">Basic information about <br>you and your company</span>
	</span>
	</a>
	</li>
	
	<li class="row">
	<a data-toggle="tab" href="#tabs-2" id="tab-2">
	<span class="headings-custom" id="headings-custom-tab2">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x"></i>
	<i class="fa fa-usd fa-stack-1x " id="ver2"></i>
	</span>
	Payment Details</br>
	<span class="subtext-custom">One-time setup fee for<br> your account</span>
	
	</span>
	</a>
	</li>	
	
	<li class="row" >
	<a data-toggle="tab" href="#tabs-3" id="tab-3" onclick="location.replace('../3/')">
	<span class="headings-custom" id="headings-custom-tab3">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i>
	<i class="fa fa-bars fa-stack-1x " id="ver3"></i>
	</span>
	Implementation
	</br>
	<span class="subtext-custom">
	Learn how to integrate Citrus <br>on your website/app
	</span>
	</span>
	
	</a>
	</li>

	<li class="row" >
	<a data-toggle="tab" href="#tabs-4" id="tab-4" onclick="location.replace('../4/')">
	<span class="headings-custom" id="headings-custom-tab4">
	<span class="fa-stack fa-lg" style="padding-top:0.3em">
	<i class="fa fa-circle-thin fa-stack-2x" ></i> 
	<i class="fa fa-copy fa-stack-1x " id="ver3"></i>
	</span>
	Upload Docs
	</br>
	<span class="subtext-custom">
	Upload documents and look 
	<br>
	at your application status
	</span>
	</span>
	
	</a>
	</li>
</ul>

<div class="tab-content" id="content" style="margin-top:0px;padding-top:0px;background:white">
<div id="tabs-0" style="background:white" class="tab-pane active">
<br>
<br><br>


 
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">
Sample heading
</h3>
</div>
<div class="modal-body">
<p>Add the body here</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>
<span style="position:relative;left:42%;text-align:centre">

</span>
<br>
<br>

{{dashboardbody|safe}}

<table style="position:relative;left:36%">
<tr style="text-align:center">
</tr>
<tr>
<td><h6>Personal details</h6></td>
<td><a href="../1/">More</a></td>
</tr>
<tr>
<td><h6>Payment</h6></td>
<td><a href="../2/">More</a></td>
</tr>
<tr>
<td><h6>Implementation</h6></td>
<td><a href="../3/">More</a></td>
</tr>
<tr>
<td><h6>Bank Approval Status</h6></td>
<td><a href="#myModal" data-toggle="modal" id ="bankStatus" onclick="modal_data_load(this)">More</a></td>
</tr>
<tr>
<td><h6>Document Status</h6></td>
<td><a href="#myModal" data-toggle="modal" id ="docStatus" onclick="modal_data_load(this)">More</a></td>
</tr>
</table>
<br><br>
</div>


<div id="tabs-1" class="tab-pane">
<div id="content-tab1" style="text-align:center" >
	<form id="step1-onboarding" action="">
	<table style="padding:2em;left: 33%;position: relative;">
	<tr>
	<td style="text-align:right"><strong>Company Name</strong></td>
	<td style="text-align:left"><input id="company-name" name="company-name" type="text" placeholder="uncommon"></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Company Website</strong></td>
	<td style="text-align:left"><input id="company-website" name="company-website" type="text" placeholder="http://www.uncommon.is"></input>
	</td>
	</tr>

	<tr>
	<td style="text-align:right"><strong>Company Category</strong></td>
	<td style="text-align:left">
	<select id="company-category" name="company-category">
    {% for category in categories %}
	<option value="{{category}}">{{category}}</option>
    {% endfor %}
	</select></td>
	</tr>

	<tr>
	<td style="text-align:right"><strong>Type of Business</strong></td>
	<td style="text-align:left">
	<select id="company-business-category" name="company-business-category">
    {% for type in businesstypes %}
	<option value="{{type}}">{{type}}</option>
    {% endfor %}
	</select></td>
	</tr>

	</table>
	<hr>
	<table style="padding:2em;left: 25%;position: relative;">
	<tr>
	<td style="text-align:right;valign:center;"><strong>Value Added Services</strong>
	</br>
	<span style="color:#C0C0C0">Please tick all that apply</span>
	</td>
	<td style="text-align:left">
	<div class="checkbox">
    {% for service in services %}
	<label>
    {% ifequal service.included_in_default True %}
    	<input name="services" type="checkbox" value="{{service.name}}" checked="checked" disabled="disabled">
    {% else %}
    	<input name="services" type="checkbox" value="{{service.name}}">
    {% endifequal%} 
    {{service.name}}
	<span style="color:#00CC33">(+Rs. {{service.charges}})</span>
	</label>
    {% endfor %}
	</div>
	</td>
	</tr>
	</table>
	<hr>
	<table style="padding:2em;left: 29%;position: relative;">
	<tr>
	<td style="text-align:right"><strong>Your Name</strong></td>
	<td style="text-align:left"><input id="your-name" name="your-name" type="text" placeholder="Name..."></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Email Address</strong></td>
	<td style="text-align:left"><input name="email" id="email" type="text" placeholder="example@xyz.com"></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Phone Number</strong></td>
	<td style="text-align:left"><input name="phone" id="phone" type="text" placeholder="XXXXX XXXXX"></input></td>
	</tr>
	<tr>
	<td style="text-align:right"><strong>Password</strong></td>
	<td style="text-align:left"><input name="password" id="password"  type="password" placeholder="*******"></input></td>
	</tr>
	</table>
	<input type="checkbox" onclick="var p = document.getElementById('button-content1'); p.disabled = !(p.disabled) " ></input>
	<span style="padding:10px;padding-top:15px;">I have read and agree to the <a href="http://signup.citruspay.com/attachment/CitrusTermsAndConditions.pdf" target="_blank" style="color:#0000FF">terms and conditions</a></span>
	</form>
	</br>
    <button id="button-content1"  class="btn btn-large" disabled onclick="newpost()">Continue</button>
  </div>
</div>
  
  <div id="tabs-2" class="tab-pane">
  <div style="text-align:center">
  <br><br><br><br>
  <h3><span style="color:#808080">Annual Maintainence </span> <span style="color:#FF9900"> {{amt}}</span></h3>
  <span style="color:#B8B8B8;text-align:center">
  Includes </br>
  24X7 Phone and Email Support</br>
  International Payments </br>
  Variable Items #3
  </span>
  
  </br>
  <hr>
  </br>
	

  </br>
<form action = "https://sandbox.citruspay.com/mufvo8mgto" method= "post" id="payform"> 
<input type="hidden" name="merchantId"></input>
<input type="hidden" name="orderAmount"></input>
<input type="hidden" name="merchantTxnId"></input>
<input type="hidden" name="currency"></input>
<input type="hidden" name="returnUrl" value="http://localhost:8000/new/citrusresponse/"></input>
<input type="hidden" name="customParams[0].name" value="Company Name"></input>
<input type="hidden" name="customParams[0].value" value=""></input>
<input type="hidden" name="customParams[1].name" value="Merchant Email"></input>
<input type="hidden" name="customParams[1].value" value=""></input>
<input type="hidden" name="secSignature"></input>
</form>
<button id="pay" onclick="iniPay()" class="btn btn-warning btn-large" style="position: relative;" {{disable|safe}}><span style="color:white"><strong>{{status}} {{amt}}</strong></span></button>
  </div>
  </div>
  
  
  <div id="tabs-3" class="tab-pane">
  <form id="step3-onboarding" action="">
  <div style="text-align:center;padding:2em;">
  <span style="padding:1.5em"><strong>Choose a platform</strong></span>
  <select id="platform">
	<option>Web In-Context Payments</option>
	<option>2</option>
	<option>3</option>
  </select>
  <hr>
  <div style="text-align:center">
  <strong>Integration Instruction</br></br></strong>
  <textarea rows="20" cols="100" style="background:#F8F8F8;width:45%;cursor:default" disabled></textarea>
  </div>
  <input class="btn btn-large" value="Continue" onclick="location.href='../4/'">
	</input></br></br>
  <span style="color:#E0E0E0">You can skip this step and do it later, simply press continue for now</span>
  </div>
  <input type="hidden" id="secSignature" name="secSignature" value="" />
  </form>    
  </div>

  <div id="tabs-4" style="text-align:center;" class="tab-pane">
  </br>
  <span style="color:black;font-weight:700">
Upload all required documents to ensure your application is verified and your account is activated permanently
</br>
When upload your documents and submit this application for review, our team will check and verify them within <strong>48 hours</strong>.
</br>
You will receive an email with your application status, the <strong> verification status </strong> will be updated for each document.
</br>
</br>
If you need help, please call our team at <span style="color:#FF9900">1-800-456-7890</span> or email us at <a href="mailto:support@citruspay.com">support@citruspay.com
</a>
</br>
</span>
</span>
</br>
</br></br></br></br></br></br>
<table style="border-bottom:2px solid rgb(240,240,240);left: 24%;position: relative;">
<tr style="border-bottom:2px solid rgb(240,240,240)">
	<td><strong>Document name</strong></td>
	<td><strong>&nbsp;&nbsp;&nbsp;Upload Status&nbsp;&nbsp;&nbsp;</strong></td>
	<td><strong>&nbsp;&nbsp;&nbsp;Verification status&nbsp;&nbsp;&nbsp;</strong></td>
</tr>
{{htmlTable|safe}}
<!--
<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Identity proof</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='IdProof'><label name="IdProof" onclick="$('#IdProof').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="IdProof" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Company Registration</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='CompanyReg'><label name="CompanyReg" onclick="$('#CompanyReg').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="CompanyReg" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Photo</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='photo'><label name="photo" onclick="$('#photo').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="photo" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Service Tax Registration</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='ServiceTaxReg'><label name="ServiceTaxReg" onclick="$('#ServiceTaxReg').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="ServiceTaxReg" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>

<tr style="border-bottom:2px solid rgb(240,240,240)">
<td><h4>Address Proof</h4>
<span style="color:rgb(230,230,230)">
Lorem ipsum dolor sit amet, consectetuer adipiscing
</br> elit, sed diam nonummy nibh euismod tincidunt ut laoreet</br> dolore magna aliqu
</span>
</td>
<td style="text-align:center;">
<input style="display:none" type='file' id='AddressProof'><label name="AddressProof" onclick="$('#AddressProof').click();"><i class="fa fa-upload fa-1x" style="padding:0.2em;"></i>Upload</label><progress style="display:none" name="AddressProof" max="100", value="0"></progress>
</td>
<td style="text-align:center;">
<i class="fa fa-check-square fa-1x" style="padding:0.2em"></i>Verified
</td>
</tr>
-->
</table>
</br>
<button  class="btn btn-default btn-large" style="position:relative;">Submit for Verification</button>
</br>
</br>
  </div>
</div>
</div>
</body>
</html>
